.app-light-theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #242582;
  --primary-color: #252cbb;
  --secondary-color: #0952f0;
  --inverted-secondary-color: #f62b10;
  --inverted-primary-color: #f64c71;
}
