.loginForm {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.input {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 15px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: red;
}
