.app-dark-theme {
  --bg-color: #242582;
  --inverted-bg-color: #e8e8ea;
  --secondary-color: #fe624c;
  --primary-color: #f64c71;
  --inverted-primary-color: #252cbb;
  --inverted-secondary-color: #0952f0;
}
