@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.sb-main-padded.app {
  padding: 0;
  margin: 0;
}

body,
.storybook-app {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
